@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Press+Start+2P&display=swap');

:root {
    --bg-main: #99ee95;
    --ft-main: #0b1157;
}

html,
body {
    font-family: "Press Start 2P";
    color: var(--ft-main);
    background-color: var(--bg-main);
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#pokemonSprite{

    height: 200px;
}